<ng-template appPlaceholder></ng-template>

<div class="row">
  <div class="col-md-12">
    <!-- <div class="alert alert-danger my-4" *ngIf="error">
      {{ error }}
    </div> -->

    <!-- <app-alert-modal *ngIf="error" [error]="error" (close)="error=null"></app-alert-modal> -->
    <div *ngIf="isLoading" class="text-center my-4">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form
      #authForm="ngForm"
      (ngSubmit)="onFormSubmit(authForm)"
      *ngIf="!isLoading"
    >
      <div class="form-group">
        <label for="email" class="text">Email</label>
        <input
          type="text"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
        />
        <div class="help-text" *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors.required">Email es requerido</div>
          <div *ngIf="email.errors.email">Email es invalido</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="text">Contraseña</label>
        <input
          type="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="help-text" *ngIf="password.touched && !password.valid">
          <div>{{ getPasswordErrors(password) }}</div>
        </div>
      </div>

      <div class="mt-4">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Iniciar sesion" : "Registrarse" }}
        </button>
        |
        <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
         Cambiar a {{ isLoginMode ? "Registrarse" : "Iniciar secion" }}
        </button>
      </div>
    </form>
  </div>
</div>
