<!-- <p>categories works!</p> -->
<br><br>
<h1 class="text center"><u> Categorías de Teclados </u></h1>
<br><br>

<ul>
  <h3 class="text"><u>
      <li> Teclados mecánicos</li>
    </u></h3>
  <img src="../../assets/redDragonLuminoso.png" alt="">

  <!-- <img src="https://ae01.alicdn.com/kf/H142a98e62e294d1491834a2ced088485H/Teclados-L300-H300-juego-de-teclado-y-rat-n-mec-nico-luminoso-RGB-de-104-teclas.jpg_Q90.jpg_.webp" alt=""> -->
  <!-- <h1 >HOLA MUNDO</h1> -->
  <h3 class="text text1"><u> Teclado Gamer Redragon K552 Kumara Retroiluminado</u></h3>
  <p class="text">Es virtualmente irrompible y tiene una durabilidad extraordinaria. Todos sus componentes están
    diseñados
    para soportar las exigencias del juego competitivo de alta intensidad. Está preparado para resistir, además,
    derrames
    y salpicaduras, gracias a su sistema de drenando y sus switches tipo box.</p>
</ul>
<br><br>
<!-- 
<ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
<ngx-editor
[editor]="editor" [(ngModel)]="html">
</ngx-editor>
<br>
<button type="button" (click)="Guardar()">Guardar</button>

<br><br>

<div [innerHTML]="html"></div> -->
