<h1 class="text text1"><u> Teclado Luminoso CORSAIR <br></u></h1>
<br> <h2 class="text title">Hoy tenemos para comentar y compartir experiencias sobre el teclado :  </h2><br>
<h4 class="text title2">CORSAIR K60 RGB PRO Low Profile Mechanical Gaming Keyboard — CHERRY® MX Low Profile Speed (ES)</h4>
<img style="border-radius:15px ;" src="https://s1.eestatic.com/2021/09/20/imprescindibles/613449961_209051692_1024x576.jpg" alt="Teclado">
<br><br>
<h2 class="text comen"><u> Comentarios</u></h2>
<div class="container">

  <div class="comentarios">
    <table class="table" *ngIf="!error">
      <thead>
        <th class="text">Nombre</th>
        <th class="text">Comentario</th>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td class="text2"><i class='bx bxs-user-detail'></i><br> {{ post.title }}</td>
          <td class="text"><br> {{ post.content }}</td>
        </tr>
      </tbody>
      <hr>
    </table>
    <div *ngIf="error">
      <div class="alert alert-danger">{{ error }}</div>
    </div>
  </div>
      <br><br><br>
      <h2 class="text"><u> Deja tu Comentario</u></h2>
  <div class="col-md-12">
    <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">
      <div class="form-group">
        <label class="text">Nombre</label>
        <input type="text" class="form-control" formControlName="title" />

        <div
          class="help-text"
          *ngIf="!postForm.get('title').valid && postForm.get('title').touched">
          Titulo es Requerido
        </div>

      </div>


      <div class="form-group">
        <label class="text">Comentario</label>
        <textarea class="form-control" formControlName="content"></textarea>
        <div
          class="help-text"
          *ngIf="
            !postForm.get('content').valid && postForm.get('content').touched">
          Contenido es Requerido
        </div>
      </div>

      <div class="my-2">
        <button type="submit" class="btn btn-primary">Publicar</button>
      </div>
    </form>
  </div>

<!-- 
  <div>
    <a href="#" (click)="onClearPosts($event)">Eliminar Publicaciones</a>
  </div> -->


</div>

<br><br><br><br><br>


