img{
  width: 100%;
  height: auto;
}
.help-text{
  color: red;
}

.text1{
  /* color: rgb(253, 59, 59);
  text-align: center;
  text-shadow: 2px 2px 2px rgb(202, 255, 56);
border-radius: 7px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,51,152,1) 18%, rgba(209,17,102,1) 57%, rgba(0,212,255,1) 100%); */
color: red;
text-shadow: 1px 1px 1px rgb(209, 56, 150);
}
.text2{
  color: rgb(61, 43, 226);
  text-shadow: 0.3px 0.3px 0.3px rgb(108, 238, 255);
}
.title2{
  color: violet;
}
.title1{
  color: cyan;
  text-align: center;
}
.comentarios{
  border-radius: 5px;
  background: rgb(0,138,92);
background: linear-gradient(90deg, rgba(0,138,92,1) 0%, rgba(44,44,210,0) 32%, rgba(11,166,198,1) 99%);
}
.comen{
  text-align: center;
}