<ul class="nav flex-column nav-pills side">

  <li class="nav-item" *ngIf="!isAuthenticated">
    <a class="nav-link" routerLink="/auth" routerLinkActive="active"
      style="background-color: rgb(91, 250, 255);" ><i class='bx bx-key' ></i> Iniciar sesión</a>
  </li>

  <li class="nav-item" *ngIf="isAuthenticated">
    <a class="nav-link" href="#" (click)="onLogout($event)" routerLinkActive="active"
      ><i class='bx bxs-key' ></i> Cerrar seción</a>
  </li>

  <div *ngIf="isAuthenticated">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class='bx bx-home' ></i>   Inicio</a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/users" routerLinkActive="active"
        >Users</a
      >
    </li> -->

    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/categories']"
        routerLinkActive="active"
        ><i class='bx bxs-credit-card-front' ></i>  Categorias</a>
    </li>

     <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/templateform']"
        routerLinkActive="active"
        >Template Form</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/reactiveform']"
        routerLinkActive="active"
        >Reactive Form</a
      >
    </li> 
    <!-- <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/filterpipes']"
        routerLinkActive="active"
        >Filter Pipes</a
      >
    </li> -->

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/posts']" routerLinkActive="active"
        > <i class='bx bx-user-voice' ></i> Foro de Discusión </a>
    </li>
  </div>
</ul>
