/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */


body{
  background: url('https://get.wallhere.com/photo/digital-art-monochrome-cobblestone-wall-symmetry-blue-pattern-texture-circle-Brick-ART-shape-design-floor-line-1920x1080-px-flooring-road-surface-567405.jpg');
}
.text{
  color: white;
}
.help-text{
  color: red;
}
.side{
  background-color: aqua;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,113,252,0) 32%, rgba(0,212,255,1) 100%);
}