
img{
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.title{
  text-align: center;
  color: white;
}

.text1{
  /* color: rgb(253, 59, 59);
  text-align: center;
  text-shadow: 2px 2px 2px rgb(202, 255, 56);
border-radius: 7px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,51,152,1) 18%, rgba(209,17,102,1) 57%, rgba(0,212,255,1) 100%); */
color: red;
text-shadow: 1px 1px 1px rgb(209, 56, 150);
}