<!-- <h1>home works!</h1> -->
<br>
<h1 class="title text1"><u> TECLADOS.PRO</u></h1>
<h1 class="title text1"><u> Bienvenido al foro de Teclados </u></h1>
<br><br><br><br>
<img src="../../assets/redDragonLuminoso.png" alt="">

<!-- <img src="https://ae01.alicdn.com/kf/H142a98e62e294d1491834a2ced088485H/Teclados-L300-H300-juego-de-teclado-y-rat-n-mec-nico-luminoso-RGB-de-104-teclas.jpg_Q90.jpg_.webp" alt=""> -->
<!-- <h1 >HOLA MUNDO</h1> -->
<h3 class="text text1"><u> Teclado Gamer Redragon K552 Kumara Retroiluminado</u></h3>
<p class="text">Es virtualmente irrompible y tiene una durabilidad extraordinaria. Todos sus componentes están diseñados
  para soportar las exigencias del juego competitivo de alta intensidad. Está preparado para resistir, además, derrames
  y salpicaduras, gracias a su sistema de drenando y sus switches tipo box.</p>
<br><br>
<img src="../../assets/Luminoso.png" alt="" width="100px">
<h3 class="text text1"><u>DELUX Teclado mecánico inalámbrico TKL</u></h3>
<p class="text">teclado iluminado recargable con interruptores de perfil bajo, conexión trimodo-2.4G, BT5.0 y cableado,
  retroiluminado LED para Windows y Mac (KS200DB-gris)</p>
<br><br>
<img src="../../assets/teclado4.png" alt="">
<h3 class="text text1" ><u> ROG Strix Scope NX Deluxe - Republic of Gamers</u></h3>
<p class="text">Teclado mecánico para juegos alámbrico ROG Strix Scope NX Deluxe RGB con switches ROG NX, marco de aluminio, reposamuñecas ergonómico, iluminación Aura Sync y WASD plateado para juegos FPS</p>

<br><br><br><br>

<img src="../../assets/tecladoRedDragon.png" alt=""><br><br>
<h3 class="text text1"><u> ROG Strix Scope NX Deluxe - Republic of Gamers </u></h3>
<p class="text">Teclado mecánico para juegos alámbrico ROG Strix Scope NX Deluxe RGB con switches ROG NX, marco de aluminio, reposamuñecas ergonómico, iluminación Aura Sync y WASD plateado para juegos FPS</p>
<br><br><br><br>
